<!-- Blazor Section-->
@page "/PFBD_Admin"

<!-- HTML Section-->
<div class="container-fluid mt-3">

    <div class="row my-4">
        <h1 class="display-5">Prometheus File Based SD Configurator</h1>
    </div>

</div>

<!-- Code Section-->
@code {

}
