<!-- Blazor Section -->
@page "/PFBD_Admin"

<!-- HTML Section -->
<div class="container-fluid mt-3">

    <div class="row my-4">
        <h1 class="display-5">Prometheus File Based SD Configurator</h1>
    </div>


    <!-- Control Forms -->
    <div class="row my-5 justify-content-around">

        <!-- Add Scraping Target -->
        <div class="col-sm-3">
            <div class"card">
                <h5 class"card-header">Add Scraping Target</h5>
                <div class"card-body">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input.group-text" id="basic-addon3">Job Name:</span>
                            <input 
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Update Scraping Target -->
        <div class="col-sm-3">

        </div>

        <!-- Remove Scraping Target -->
        <div class="col-sm-3">

        </div>

    </div>

</div>

<!-- Code Section-->
@code {

}
